<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Easy Number Tracker (ENT)</title>
</head>
<body>
{% if all_numbers %}
<h1>Here are all the numbers you have tracked so far:</h1>
<table>
    <tr>
        <th>Number</th>
        <th>Count</th>
        <th>Delete this number?</th>
    </tr>
    {% for number in all_numbers %}
    <tr>
        <td>{{number.value}}</td>
        <td>{{number.count}}</td>
        <td>
            <form action="{% url 'delete' number.value %}" method="get">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
<h3>Want to track another number?</h3>
<form action="{% url 'index'%}" method="get">
    <button type="submit">Track another number</button>
</form>
{% else %}
<h1>Looks like you haven't tracked any numbers yet</h1>
<h3>Let's start tracking numbers!</h3>
<form action="{% url 'index'%}" method="get">
    <button type="submit">Track a number</button>
</form>
{% endif %}
</body>
</html>