<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Easy Number Tracker (ENT)</title>
</head>
<body>
<h1>Welcome to the Easy Number Tracker (ENT)</h1>

<h3>Add a number below and ENT will keep track of how many times you've added it</h3>
<form action="{% url 'track_or_increment_number'%}" method="post">
        {% csrf_token %}
    <input type="text" placeholder="Add a number">
    <input type="submit" value="Track"/>
</form>

<h3>Or, you can update a specific number's tracking count by a specific amount</h3>
<form action="{% url 'track_or_increment_number'%}" method="put">
    <input type="text" placeholder="Number to update">
    <br/>
    <input type="text" placeholder="Increment count by">
    <br/>
    <input type="submit" value="Update Count"/>
</form>

<h3>Want to see all the numbers you've already tracked?</h3>
<form action="{% url 'get_all_numbers'%}" method="get">
    <button type="submit">See all numbers</button>
</form>
</body>
</html>